<%- include("partials/header") %>

<div class="body">
    <div class="glass-box">
        <div class="nav">
            <a href="" class="logo-img"><img src="images/logo.png" width="200" alt=""></a>
            <a href="/login" class="navbar-link btn-outline-secondary">Log In</a>
        </div>
        <form action="">
            <div class="search-bar">
                    <span><a href=""><i class="fa-solid fa-magnifying-glass fa-2xl"></i></a></span>
                    <input type="search" name="search" class="search-input" placeholder="Search">
            </div>
        </form>
    </div>
</div>

<%- include("partials/footer") %>