<%- include('partials/header') %>


<div class="row vh-100 g-0">
    <div class="col-lg-6 position-relative d-none d-lg-block">
        <div class="bg-holder" style="background-image: url('images/itachi.jpg');"></div>
    </div>
    <div class="col-lg-6">
        <div class="row align-items-center justify-content-center h-100 g-0 px-4 px-sm-0">
            <div class="col col-sm-6 col-lg-7 col-xl-6">
                
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>