<%- include('partials/header') %>


<div class="row vh-100 g-0">
    <div class="col-lg-6 position-relative d-none d-lg-block">
        <div class="bg-holder" style="background-image: url('images/itachi.jpg');"></div>
    </div>
    <div class="col-lg-6">
        <div class="row align-items-center justify-content-center h-100 g-0 px-4 px-sm-0">
            <div class="col col-sm-6 col-lg-7 col-xl-6">
                <a href="" class="d-flex justify-content-center mb-4">
                    <img src="images/logo.png" alt="" width="150">
                </a>

                <div class="text-center mb-5">
                    <h3 class="fw-bold">Log In</h3>
                    <p class="text-secondary">Get access to your account.</p>
                </div>

                <form action="/login" method="post">
                    <div class="input-group mb-3">
                        <span class="input-group-text icon">
                            <i class="fa-solid fa-user"></i>
                        </span>
                        <input type="text" class="form-control form-control-lg fs-6" placeholder="Username" name="username">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text icon">
                            <i class="fa-solid fa-lock"></i>
                        </span>
                        <input type="password" class="form-control form-control-lg fs-6" placeholder="Password" name="password">
                    </div>
                    <div class="input-group mb-3 d-flex justify-content-between">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-innput" id="formCheck">
                            <label for="formCheck" class="form-control-label text-secondary"><small>Remeber Me</small></label>
                        </div>
                        <div>
                            <small><a href="">Forget Password?</a></small>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-lg w-100 l-btn mb-3">Login</button>
                </form>

                <div class="text-center">
                    <small>Don't have an account? <a href="register" class="fw-bold">Sign Up</a></small>
                </div>

                <div class="position-relative">
                    <hr class="text-secondary divider">
                    <div class="divider-content-center">OR</div>
                </div>

                <a class="btn btn-lg btn-outline-secondary btn-outline-custom w-100 mb-3" href="/auth/google" role="button">
                    <i class="fa-brands fa-google text-danger me-1 fs-6"></i>  Login with Google
                </a>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>