@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    background-color: #ececec;
}
body .body {
    background-image: url("../images/kaneki.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin: 0;
}
.bg-holder {
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: #7AB2B2;
}

a:hover {
    text-decoration: underline;
}

.btn {
    font-size: 0.8rem;
    font-weight: 700;
}
.btn i {
    vertical-align: text-top;
}

.divider-content-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 0.5rem;
    background-color: #ececec;
    font-size: 0.8rem;
    font-weight: 500;
    color: #999;
}

.divider {
    margin: 2rem 0;
}

.icon {
    background-color: #ececec;
    color: #7AB2B2;
}

.l-btn {
    background-color: #4D869C;
    border-color: #4D869C;
}
.btn-outline-custom {
    color: #31374a;
}
.btn-outline-custom:hover {
    color: #ececec;
    background-color: #4D869C;
}

.glass-box {
    height: 100vh;
    width: 100%;
    margin: 0;
    background: rgba(255, 255, 255, 0.01);
    z-index: 10;
    position: relative;
    backdrop-filter: blur(5px);
}
.nav {
    display: inline-block;
    width: 100%;
}
.logo-img {
    float: inline-start;
}
.navbar-link {
    justify-content: space-between;
    float: inline-end;
    margin: 5rem 3rem 0 0;
    font-size: 1.5rem;
}
.search-bar {
    align-content: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 20rem auto 0 auto;
    padding: 14px;
    width: 50vw;
    border-radius: 28px;
    background: rgba(255, 255, 255, 0.15);
}
 .search-input {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    margin-left: 14px;
    color: #7AB2B2;
    outline: none;
    border: none;
    flex: 1;
    background: transparent;
 }
 .message {
    margin-top: 0;
 }